<h2><%= @article.title %></h2>
<p><%= @article.content %></p>

<%= link_to 'Edit article', edit_article_path(@article)%>
<%= link_to 'Delete this article', article_path(@article), method: :delete, data: { confirm: "Are you sure?" }%>
<%= link_to 'Back to articles', articles_path %>
